FRB_INTERFACE_APP/FUNDSTRANSFERFEDLINKOFSRequestType.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Request" targetNamespace="http://www.temenos.com/T24/ofs/Request" xmlns:reqcns="http://www.temenos.com/T24/ofs/RequestCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/FUNDSTRANSFERFEDLINKOFSType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/RequestCommon" schemaLocation="RequestCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/FUNDSTRANSFERFEDLINKOFSType" schemaLocation="FUNDSTRANSFERFEDLINKOFSType.xsd"/>
<xsd:element name="FUNDSTRANSFERFEDLINKOFSRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RequestCommon" type="reqcns:RequestCommonType" minOccurs="0"/>
<xsd:element name="FUNDSTRANSFERFEDLINKOFS" type="ns0:FUNDSTRANSFERFEDLINKOFSType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>