FRB_INTERFACE_APP/T24ToFedLink-ToFedLink.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns="http://www.temenos.com/T24/event/T24ToFedLink/ToFedLink" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.temenos.com/T24/event/T24ToFedLink/ToFedLink" elementFormDefault="qualified" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon"><xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/><xsd:element name="ToFedLink"><xsd:complexType><xsd:sequence><xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/><xsd:element ref="id" minOccurs="0" maxOccurs="1"/><xsd:element ref="fedMessageList" minOccurs="0" maxOccurs="1"/><xsd:element ref="fedMessageWhole" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="eventCommon" type="ns0:EventCommon"/><xsd:element name="id" type="xsd:string"/><xsd:element name="fedMessageList"><xsd:complexType><xsd:sequence><xsd:element name="fedMessage" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:simpleContent><xsd:extension base="xsd:string"><xsd:attribute name="index" type="xsd:integer"/></xsd:extension></xsd:simpleContent></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="fedMessageWhole" type="xsd:string"/></xsd:schema>