FRB_INTERFACE_APP/TransactionInputType.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.temenos.com/T24/ofs/TransactionInput" xmlns:txnins="http://www.temenos.com/T24/ofs/TransactionInput">
	<xs:complexType name="TransactionInputType">
		<xs:sequence>
			<xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TransactionInput" nillable="true" type="txnins:TransactionInputType"/>
</xs:schema>